@import "./MediaQueries.scss";

$couleur_primaire: white;
$couleur_secondaire: #ff0042;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "AceRecords";
  src: url("../../Police/ace-records/AceRecords.ttf");
}

body {
  background-color: #15181d !important;
}
$couleur_primaire: white;
$couleur_secondaire: #ff0042;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MyHome {
  display: null;
}

#Start {
  text-align: center;
  font-weight: bold;
  color: $couleur_secondaire;
  width: 55%;
  margin: 0 auto;
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  &__Text {
    font-size: 70px;
  }
}
#Start--Button {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  width: 20%;
  border-radius: 40px;
  background-color: $couleur_secondaire;
  margin: 0 auto;

  & a {
    text-decoration: none;
    color: white;
  }
}

#Main {
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid $couleur_secondaire;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
#Main--title {
  width: 30%;
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  & a {
    color: $couleur_primaire;
    text-decoration: none;
    font-weight: bold;
    border-bottom: transparent solid 2px;
    font-family: "Roboto", sans-serif;
    font-weight: 500 !important;

    &:hover {
      border-bottom: solid 2px $couleur_secondaire;
    }
  }
}

#Main--Logo {
  font-family: AceRecords;
  font-size: 55px;
  color: $couleur_secondaire;
}
#Main--Search {
  display: flex;
}
#Main--Search input {
  border: none;
  border-bottom: solid 2px $couleur_secondaire;
  outline: none;
  font-size: 20px;
  font-weight: Bold;
  color: $couleur_secondaire;
  background: none;
}

#OnTheTop__Column {
  display: flex;
  flex-direction: column;
}
#OnTheTop {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 1%;

  &__Card {
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 1%;

    &__Title {
      color: $couleur_primaire;
      font-size: 30px;
      font-family: roboto;
      border-bottom: solid 2px $couleur_secondaire;
      width: 20%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }

    &__Image {
      width: 60%;
      height: 400px;
    }
    &__Text {
      width: 40%;
      height: 400px;
      background-color: #1e2128;

      & h2 {
        color: white;
        font-size: 25px;
        width: 60%;
        margin: 0 auto;
        padding: 5px;
        margin-bottom: 15px;
        border-bottom: solid 2px $couleur_secondaire;
      }
      & p {
        width: 95%;
        margin: 0 auto;
        font-size: 20px;
        height: 70%;
        overflow: auto;
        color: white;
      }
    }
  }
}

#Button--Watch {
  background-color: $couleur_secondaire;
  font-size: 20px;
  padding: 10px;
  border-radius: 50px;
  color: $couleur_primaire;
  font-weight: bold;
  outline: none;
  margin: 0 auto;
  margin-top: 10px;
}

.Onclick {
  cursor: pointer;
}
//

.flex-caption {
  width: 96%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 18px;
}

// FILMS

.Films__title {
  color: $couleur_secondaire;
  margin-top: 50px;
  font-size: 30px;
  margin-left: 10px;
  padding: 10px;
  border-bottom: solid $couleur_secondaire 2px;
}

.Home_Card_TheCards {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: solid 2px $couleur_secondaire;
  margin: 50px;
  height: 500px;
  overflow: auto;
  padding: 10px;
}

.Home_Card_TheCard {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 250px;
  height: 250px;
  &__title {
    border-bottom: solid 2px $couleur_secondaire;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 20%;
    margin: 0 auto;
    width: 80%;

    & h3 {
      color: $couleur_primaire;
      font-size: 20px;
    }
  }
  &__image {
    height: 200px;
    width: 100%;
    transition: all 0.2s ease-in-out;
  }
}

.Home_Card_TheCard__image:hover {
  transform: scale(1.1);
  margin-left: 20px;
  margin-top: -20px;
  margin-bottom: 20px;
}
.Home_Card_TheCard:nth-child(10) {
  display: none;
}
.BgColorImg {
  height: 200px;
  height: 80%;
  background-color: $couleur_secondaire;
}

//BOOTSTRAP

.ButtonInfo {
  width: 25px;
  height: 25px;
  color: $couleur_primaire;
  background-color: #ff0042;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 100%;
  margin: 0 auto
}

.CustomModel {
  background-color: #15181d;

}

.WidthModel {
 
  height: 600px;
}

.ImageModel {

  width: 100%;
}
@include MediaQueries;
