$couleur_primaire: white;
$couleur_secondaire: #ff0042;


.Footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 0 auto;
    color: $couleur_primaire;
    font-size: 20px;
    width: 100%;
    &__FollowUs {
      margin: 0 auto;
      width: 50%;
    }
    & p {
      border-bottom: solid 2px $couleur_secondaire;
      width: 25%;
      margin: 0 auto;
    }
    &__SocialMedia {
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      padding: 10px;
      width: 30%;
    }
    &__Newsletter {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid white;
      width: 25%;
      float: right;
      & label {
        border-bottom: 2px solid $couleur_secondaire;
        width: 40%;
      }
      &__Input {
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
      }
      & input {
        width: 70%;
        border-radius: 10px;
        outline: #ff0042;
        font-size: 15px;
      }
      & Button {
        background-color: $couleur_secondaire;
        border-radius: 10px;
        padding: 5px;
        font-weight: bold;
        font-size: 15px;
        color: $couleur_primaire;
      }
    }
    &__Copyright {
      width: 100% !important;
      border: none !important;
      font-size: 15px;
    }
  }
  